.registration-form{
    width: 800px;
    margin: auto;
    border: black solid 2px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: aqua;
}
/* .valid-feedback ,.invalid-feedback{
    display: block;
} */